@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-black-700: #181d2a;
  --color-ai-purple: #6a48f2;
  --color-purplish-black: #0d1321;
  --color-kc-gray: #c2c2c2;

  --animate-move-left: move-left 1s infinite;
}

@keyframes move-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}
