@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-black-700: #181d2a;
  --color-ai-purple: #6a48f2;
  --color-purplish-black: #0d1321;
  --color-kc-gray: #c2c2c2;

  --animate-move-left: move-left 1s infinite;
}

@keyframes move-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.shadow-ellipse {
  width: 40px;
  height: 10px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  filter: blur(2px);
  transform: scaleY(0.5);
}
